<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page_title }}</title>
   
    {{ 'products.css' | asset_url | stylesheet_tag }}
    
    {{ content_for_header }}
  </head>
  <body>
    <header>
      <h1 class="heading">yasir malik</h1>
   </header>
    <div class="container">
      {% for tab in product_variant %}
        {% render 'products' %}
      {% endfor %}
    </div>
  </body>
</html>
